.header {
  background: var(--main-color-transparent);
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 0.9;
  h1 {
    font-size: 25px;
  }

  .auth {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    margin: 25px 20px 0 0px;
  }
  .back {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    margin: 25px 0px 0 0px;
  }
}
