.header {
  background: var(--main-color-transparent);
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;

  .auth {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    margin: 25px 20px 0 0px;
    @media (max-width: 850px) {
      opacity: 0;
    }
  }
  .back {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    margin: 25px 0px 0 0px;
    @media (max-width: 550px) {
      opacity: 0;
    }
  }
}

.authmob {
  @media (min-width: 851px) {
    opacity: 0;
  }
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
