.container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-bottom: 30px !important;
}

.label {
  color: white;
  width: 200px;
  position: absolute;
  margin-top: 155px;
  z-index: 1;
  overflow-x: hidden;
  text-align: center;
}

.submitButton {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  width: 170px;
  height: 40px;
  background: var(--secondary-color) !important;
  color: black !important;
}
